@using Materialize.Monitor.Reporting
@using Materialize.Monitor.Views
@using HtmlTags.Extended.TagBuilders
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<QueryReport>

<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=desert"></script>
<script src="~/Scripts/CollapsibleLists.js"></script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>

<script>
    //$(CollapsibleLists.apply);
</script>

<div>
    <h2>ID: @Model.ReportID</h2>
</div>

<div>
    <h2>Incoming Query Expression</h2>
    <pre class="prettyprint language-cs">@Model.QueryFromClient</pre>
</div>

<div>
    <h2>Strategization</h2>
    @Html.TreeList(
            Model.StrategyTree,
            (s, tag) => tag.Append("h4", t => t.Text(s.Name)).Span(t => t.Text(s.Description))
        ).AddClass("collapsibleList").Id("strategyTree").ToNancyHtmlString()
</div>

<div>
    <h2>Fetch Expression</h2>
    <pre class="prettyprint language-cs">@Model.FetchExpression</pre>
</div>

<div>
    <h2>Transformation Expression</h2>
    <pre class="prettyprint language-cs">@Model.TransformExpression</pre>
</div>

